@import url("/style/fonts/franklin/franklin.css")
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script|Work+Sans'

$font__standard: 16px "Lekton", sans-serif
$font__header: 80px 'Kaushan Script', sans-serif

// $red: rgb(255, 117, 141)
// $orange: rgb(254, 186, 132)
// $yellow: rgb(255, 246, 177)
// $violet: rgb(193, 146, 255)

$pink: rgb(247, 83, 141)
$green: rgb(52, 140, 69)
$blue: rgb(81, 235, 223)

@mixin rainbow()
  // border-image: rgb(255, 117, 141)
  // border-image: -webkit-linear-gradient(left, $red, $orange, $yellow, $green, $blue, $indigo, $violet)
  // border-image: -o-linear-gradient(left, $red, $orange, $yellow, $green, $blue, $indigo, $violet)
  // border-image: -moz-linear-gradient(left, $red, $orange, $yellow, $green, $blue, $indigo, $violet)
  border-image: radial-gradient(farthest-corner at 0px 0px , rgb(255, 51, 204) 0%, rgb(254, 186, 132) 76%, rgb(255, 235, 79) 80%, rgb(163, 229, 152) 85%, rgb(160, 247, 255) 90%, rgb(200, 127, 255) 98%) 1%
  border-width: 0 0 3px 0

.rainbow
  @include rainbow

// ul
.ul
  -webkit-padding-start: 0px

// p, li
.nav, .about__description
  font: $font__standard
  line-height: 28px

.nav-bar
  -webkit-padding-start: 0px

.nav
  list-style: none
  display: inline-block
  margin-right: 20px
  margin-left: 20px
  position: relative

.nav:after
  position: absolute
  left: 0
  bottom: 0
  width: 0
  height: 3px
  background-color: $pink
  content: ""
  transition: width 0.2s

.underline-pink:after
  background-color: $pink

.underline-blue:after
  background-color: $blue

.underline-green:after
  background-color: $green

.nav:hover:after
  width: 100%

// p
p
  text-align: center

.about__title
  text-align: center

.section-title
  @include rainbow
  border-width: 0 0 3px 0

  display: inline-block
  margin-right: 40px

// a
a
  color: black
  text-decoration: none

// h1
.title
  font: $font__header
  margin: 0 auto
  text-align: center

// div
.div
  margin-top: 120px

.heading
  // margin: 95px auto auto
  text-align: center

.header
  display: inline-block

// img
.heading-img
  width: 320px
  padding: 1.5em
  vertical-align: middle
  transition: all ease 0.2s

.heading-img
  display: inline-block
  padding: 0 100px

// footer
footer
  position: fixed
  bottom: 2%
  right: 2%

  // footer.a
  a
    border-bottom: thin dotted #000000

$breakpoint-tablet: 771px
$breakpoint-small-desktop: 992px

// Media Queries
@media (max-width: $breakpoint-tablet)

  .heading
    margin: auto

  .heading-img
    padding: 0
