@import url("/style/css/stylesheet.css")

h1
  &.title
    text-align: center
  &.result
    text-align: center
    display: inline

p
  text-align: center

div
  &.heading
    display: inline-block
  &.images
    padding-top: 7em
  &.image
    display: inline

img
  width: 320px
  padding: 1.5em
  vertical-align: middle
  transition: all ease 0.2s
  &.heading-img
    display: inline-block

form
  text-align: center
  padding-top: 2em
  &.result
    display: inline
    padding-left: 1em
    padding-right: 1em

input
  font: 16px "Lekton", monospace
  text-align: center
  padding: 1em
  margin-bottom: 0.5em
  width: 300px
  border-width: thin
  border-color: black
  &.result
    border-width: medium
    border-left: none
    border-right: none
    border-top: none
    background-color: transparent
    width: 170px

footer
  position: fixed
  bottom: 2%
  right: 2%
  a
    border-bottom: thin dotted #000000
