<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="./style/css/index.css" text="text/css"/>
    </head>

    <body ng-app="myApp" ng-controller="indexCtrl">
        <div ng-hide="clickSubmit" class="main">
            <h1 class="title">color_behanced</h1>
            <p class="desc">
                Enter a RGB value without the #.
                Ex: <span style="border-bottom: thick solid
                        #06f9d4;">06f9d4</span>
                or <span style="border-bottom: thick solid
                        #ff0000;">ff0000</span>
                or <span style="border-bottom: thick solid
                        #ffff66;">ffff66</span>
            </p>
            <form ng-submit="submit()">
                <input type="text" name="color" ng-model="color">
                <input type="submit" value="Submit" ng-click="clickSubmit = true">
            </form>
        </div>
        <div ng-show="clickSubmit" class="result">
            <img ng-repeat="picture in pictures" src="{{ picture.covers.original }}">
        </div>
        <footer>
            <p>Made with aesthetics by <a href="http://danagilliann.me">Dana Lee</a></p>
        </footer>
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/controllers/index-ctrl.js"></script>

</html>
