@import url("/style/fonts/franklin/franklin.css");
@import url(https://fonts.googleapis.com/css?family=Lekton);
.rainbow {
  border-image: radial-gradient(farthest-corner at 0px 0px, #ff33cc 0%, #feba84 76%, #ffeb4f 80%, #a3e598 85%, #a0f7ff 90%, #c87fff 98%) 1%;
  border-width: 0 0 3px 0; }

p, li {
  font: 16px "Lekton", monospace;
  line-height: 28px; }

p {
  text-align: center; }

.section-title {
  border-image: radial-gradient(farthest-corner at 0px 0px, #ff33cc 0%, #feba84 76%, #ffeb4f 80%, #a3e598 85%, #a0f7ff 90%, #c87fff 98%) 1%;
  border-width: 0 0 3px 0;
  border-width: 0 0 3px 0;
  display: inline-block;
  margin-right: 40px; }

a {
  color: black;
  text-decoration: none; }

h1 {
  font: 80px 'franklin', sans-serif;
  margin: 0 auto; }
  h1.title {
    text-align: center; }
  h1.result {
    text-align: center;
    display: inline; }

div.heading {
  margin: 95px auto auto;
  text-align: center; }

div.header {
  display: inline-block; }

div.images {
  padding-top: 7em; }

div.image {
  display: inline; }

img {
  width: 320px;
  padding: 1.5em;
  vertical-align: middle;
  transition: all ease 0.2s; }
  img.heading-img {
    display: inline-block;
    padding: 0 100px; }

form {
  text-align: center;
  padding-top: 2em; }
  form.result {
    display: inline;
    padding-left: 1em;
    padding-right: 1em; }

input {
  font: 16px "Lekton", monospace;
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  width: 300px;
  border-width: thin;
  border-color: black; }
  input.result {
    border-width: medium;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    width: 170px; }

footer {
  position: fixed;
  bottom: 2%;
  right: 2%; }
  footer a {
    border-bottom: thin dotted #000000; }

@media (max-width: 771px) {
  div.heading {
    margin: auto; }
  img.heading-img {
    padding: 0; } }
