@import url("/style/fonts/franklin/franklin.css");
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script|Work+Sans';
.ul {
  -webkit-padding-start: 0px; }

.about__links, .projects {
  text-align: center; }

.li, .nav, .about__description {
  font: 16px "Lekton", sans-serif;
  line-height: 28px; }

.project {
  margin-top: 100px; }

.about__link {
  margin: 0 10px; }

.nav, .about__link, .project {
  list-style: none; }

.nav, .about__link {
  display: inline-block; }

.nav {
  margin-right: 20px;
  margin-left: 20px;
  position: relative; }

.nav:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #f7538d;
  content: "";
  transition: width 0.2s; }

.nav:hover:after {
  width: 100%; }

.underline-pink:after {
  background-color: #f7538d; }

.underline-blue:after {
  background-color: #51ebdf; }

.underline-green:after {
  background-color: #348c45; }

p {
  text-align: center; }

.about__title {
  text-align: center; }

.section-title {
  border-width: 0 0 3px 0;
  display: inline-block;
  margin-right: 40px; }

.about__description {
  padding: 0 240px;
  margin-top: 50px; }

a {
  color: black;
  text-decoration: none; }

.a__pink {
  color: #f7538d;
  position: relative; }

.a__pink:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #f7538d;
  content: "";
  transition: width 0.2s; }

.a__pink:hover:after {
  width: 100%; }

.title {
  font: 80px "Kaushan Script", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 80px; }

.project__info {
  font-weight: normal;
  text-align: right; }

.div {
  margin: 200px 0; }

.heading {
  margin: 95px auto auto;
  text-align: center; }

.header {
  display: inline-block; }

.project__title, .project__desc, .project__info {
  display: inline-block; }

.project__title {
  border: 3px solid #348c45;
  margin-left: -140px;
  margin-right: 50px;
  transition: all ease 0.2s;
  width: 400px; }

.project__title:hover {
  background-color: green;
  color: #fff; }

.heading-img {
  width: 320px;
  padding: 1.5em;
  vertical-align: middle;
  transition: all ease 0.2s; }

.heading-img {
  display: inline-block;
  padding: 0 100px; }

footer {
  position: fixed;
  bottom: 2%;
  right: 2%; }
  footer a {
    border-bottom: thin dotted #000000; }

@media (max-width: 992px) {
  .title {
    font-size: 60px;
    line-height: 64px; }
  .heading {
    margin: 40px auto auto; }
    .heading .heading-img {
      padding: 0;
      width: 300px; }
  .about__description {
    padding: 0 10px; }
  .project__title, .project__desc, .project__info {
    display: block;
    text-align: center; }
  .project__title {
    margin: auto 250px;
    padding: 60px; }
  .project__desc {
    margin-top: 30px; } }
